<h1>List of bookmarks</h1>
<ul>
  <% @bookmark.all.each do |bookmark| %>
    <li><a href="<%= bookmark[:url] %>"><%= bookmark[:title] %></a>
    </li><br>
    <form method="post" action="/delete">
      <input id="<%= bookmark[:id] %>" type="submit" name="<%= bookmark[:id] %>" value="delete">
    </form>
    <form method="get" action="/update">
      <input id="<%= bookmark[:id] %>_edit" type="submit" name="<%= bookmark[:id] %>" value="update">
    </form>
    <form method="get" action="/comments">
      <input id="<%= bookmark[:id] %>_update" type="submit" name="<%= bookmark[:id] %>" value="update">
    </form>
  <% end %>
</ul>
